<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vinkas.notifier">

    <uses-permission android:name="vinkas.intent.action.NOTIFICATION" />

    <application>
        <receiver android:name=".Publisher">
            <intent-filter>
                <data android:host="notifier.vinkas.com" android:scheme="notification" />
                <action android:name="vinkas.intent.action.NOTIFICATION" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
